  .chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh; 
  max-width: 800px; 
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5f5f5;
  }
  
  .chat-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ddd;
    gap: 20px; 
  }

  .chat-header > :nth-child(2) {
    padding-right: 20px;
  }
  /* .chat-header > :nth-child(2) {
    width: 200px;
  } */
  
  .chat-hint {
    background-color: #f0f0f0; 
    padding: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 16px; 
    color: #333; 
  }

  .chat-hint i {
  padding-right: 10px;
  }

  .chat-hint .hint-text {
    padding-right: 10px;
    font-weight: bold;
    padding-left: 5px;
    }

  
  .chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    display: flex;
    padding: 10px;
    background-color: #ddd; 
    border-top: 1px solid #ddd;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #5e4747;
    border-radius: 4px;
  }
  
  .chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }


  .chat-messages {
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 60px; /* Adjust based on the height of your input */
    overflow-y: auto;
  }

  .logo {
    width: 50px; 
    height: 50px; 
    background: '../images/logo.png' no-repeat center center; 
    background-size: contain;
    }
    