.username-box {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    flex: 0 1 calc(33.333% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .color-1 { background-color: #e74c3c; }
  .color-2 { background-color: #3498db; }
  .color-3 { background-color: #2ecc71; }
  .color-4 { background-color: #f1c40f; }
  .color-5 { background-color: #9b59b6; }
  .color-6 { background-color: #ff9a16; }