.dot {
    height: 15px;
    width: 15px;
    margin: 10px 10px 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out both;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.42s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.26s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
  